@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <h1>Otimizado seu tempo<br /> para você ganhar tempo</h1>
    <p>Você é sempre nosso maior tesouro</p>
</div>

<section class="sobre">
    <h2>Organize seu tempo sem perder tempo</h2>
    <div class="sobre-container">
        <div class="sobre-item">
            <img src="~/img/svg/home/residencialjpg 1.png" />
            <h3><a href="#">Domésticos</a></h3>
            <div class="descricao">
                <p>
                    Gerencie suas despesas e gastos pessoais de forma simples e descomplicada,
                    em qualquer lugar que você esteja, sem perder tempo e paciência.
                </p>
            </div>
           
        </div>

        <div class="sobre-item">
            <img src="~/img/svg/home/Mecanica.png" />
            <h3><a href="#">Automóbisiticos</a></h3>
            <div class="descricao">
                <p>
                    Matenha sues gastos com combustível, suas manutenções com 
                    a mecânica do seu automóvel e organizado se tempo.
                </p>
            </div>

        </div>
       
        <div class="sobre-item">
            <img src="~/img/svg/home/saudejpg 1.png" />
            <h3><a href="#">Saúde</a></h3>
            <div class="descricao">
                <p>
                    Organize as despesas feita para sua saúde aqui.
                </p>
            </div>

        </div>
    </div>
</section>
