/* reset */
/*Reseta todas as configurações default dos browsers*/

body, h1, h2, h3, p, ul {
  padding: 0px;
  margin: 0px;
}

/*Defina a tipografia e a cor a ser usada no corpo do layout*/
body {
  font-family:Roboto mono; 
  color: #252525;
}

* {
  box-sizing: border-box;
}

/* Menu */
.menu {
  background: linear-gradient(91.77deg, #5D35B5 0%, #C067D1 98.9%);
  padding: 20px 0;
}

  .menu-container {
    max-width: 960px;
    margin: 0 auto;
  }

/* ajustes para flutuar os containers*/
.menu-container::after, .menu-container::before {
  content: '';
  display: table;
  clear: both;
}

/*ajustes de posicionamento para o logotipo*/
.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-logo img {
  width: 78px;
  height: 52px;
}

 h2.logo {

    color: #fff;
  }
  /*ajuste para o posicionamento da div nav*/
  .menu-nav {
    float: right;
    margin-right: 10px;
  }

.menu-nav li{
  display: inline-block;
}

  .menu-nav li a {
    font-family:Roboto mono;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
  }

/* Menu login*/

.menu-container-login::after, .menu-container-login::before {
  content: '';
  display: table;
  clear: both;
}

.menu-container-login {
  
  /*vertical-align: inherit;*/
  display: block;
  float: right;
  margin-right: 10px;
}

.menu-nav-login li {
  display: inline-block;
}

  .menu-nav-login li a {
    font-family: Roboto mono;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
  }

.btn-login {
  font-family: Roboto mono;
  background :none;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 1.25em;
}

.main {
  background: url(../img/jpg/home/bg-home@2x.png)no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

  .main h1 {
    text-transform: uppercase;
    font-size: 3em;
  }

    .main h1::after {
      content: '';
      display: block;
      width: 20px;
      height: 4px;
      background: #fff;
      margin: 10px auto;
    }

  .main p {
    font-family: Roboto mono;
    font-style: italic;
    font-size: 1.125em;
  }

/* Sobre */

.sobre {
  padding: 60px 0;
}

  .sobre h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    color: #703EBB;
    margin-bottom: 60px;
    line-height: 1.5em;
  }

.sobre-container {
  max-width: 960px;
  margin: 0 auto;
}

  .sobre-container::after, .sobre-container::before {
    content: '';
    display: table;
    clear: both;
  }

.sobre-item {
  width: 300px;
  float: left;
  margin: 0 10px;
}

  .sobre-item img {
    width: 300px;
    height:220px;
    display: block;
    max-width: 100%;
  }

  .sobre-item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: #8148C0;
    width: 240px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
  }
  
  .sobre-item h3 a{
    text-decoration:none;
    color: #fff;
  }

  .sobre-item .descricao p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    color: #703EBB;
    margin: 0 10px 20px 10px;
    max-width: 300px;
    float: left;
  }


.assine button {
  background: #252525;
  border: none;
  text-transform: uppercase;
  font-family: Roboto, mono;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: #fff;
  cursor: pointer;
}

/* Footer */

.footer {
  background: #703ebb;
  padding: 40px 0;
}

  .footer::after, .footer::before {
    content: '';
    display: table;
    clear: both;
  }

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.1252em;
  line-height: 1.4em;
}

.footer img {
  float: right;
  margin: 0 10px;
}