@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<section class="confirmemail">
    <div class="container-confirmemail">
        <h2>E-mail confirmado com sucesso!</h2>
        <p>
            <a asp-page="home" asp-route-returnUrl="index">Clique aqui para fazer seu log in</a>
        </p>
    </div>
</section>
