@page
@model ForgotPasswordConfirmation


<section class="forgetpasswordconfirm">
    <h2>Confirme seu email</h2>
    <div class="mensagem">

        <p>
            Por favor confira seu e-mail para resetar sua senha.
        </p>
    </div>
</section>