@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="container-login">
        <section class="register">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Preencha seus dados</h2>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-register">
                    <label  class="form-label" asp-for="Input.Email"></label>
                    <input type="text" placeholder="Digite seu e-mail" asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-register">
                    <label  class="form-label" asp-for="Input.Password"></label>
                    <input type="password" placeholder="Digite sua senha" asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-register">
                    <label  class="form-label" asp-for="Input.ConfirmPassword"></label>
                    <input type="password" placeholder="Digite sua senha novamente" asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="form-register-btn">Criar nova conta</button>
            </form>
            </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
